<h1> <center>Data Integration & Visualization </center></h1>

# ![title](airplaneimage.jpg)

In [69]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [70]:
airlinesDf = pd.read_csv("airlines.csv")

In [71]:
airportsDf = pd.read_csv("airports.csv")

In [72]:
flightsDf= pd.read_csv("flights.csv")

C:\Users\moham\AppData\Local\Temp\ipykernel_13880\17542411.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flightsDf= pd.read_csv("flights.csv")

<h2>Data Integration </h2> 
<h5>First we will merge flights table with the airlines table on column Airline from flights and column IATA from airlines</h5>

In [73]:
tempmerge = pd.merge(flightsDf,airlinesDf, left_on= 'AIRLINE',right_on='IATA_CODE')

<h5>Then we will merge the output table with the airports table on the common column Origin Airport from tempmerge and IATA from airpot</h5>

In [74]:
tempmerge2 = pd.merge(tempmerge,airportsDf,left_on='ORIGIN_AIRPORT',right_on= 'IATA_CODE')

<h5>Then we will merge the output table with the airports table on the common column Destination Airport from tempmerge2 and IATA from airpot</h5>

In [75]:
df = pd.merge(tempmerge2,airportsDf,left_on='DESTINATION_AIRPORT',right_on= 'IATA_CODE')

<h2>Data Cleaning</h2>

<h4>First we will rename some of the columns to make it easier for us to read</h4>

In [76]:
df.rename(columns={'CITY_x': 'ORIGIN_CITY','AIRLINE_x':'AIRLINE','STATE_x':'ORIGIN_STATE','COUNTRY_x':'ORIGIN_COUNTRY'
,'LATITUDE_x':'ORIGIN_LATITUDE','LONGITUDE_x':'ORIGIN_LONGITUDE','CITY_y': 'DESTINATION_CITY',
'STATE_y':'DESTINATION_STATE','COUNTRY_y':'DESTINATION_COUNTRY','LATITUDE_y':'DESTINATION_LATITUDE',
'LONGITUDE_y':'DESTINATION_LONGITUDE'},inplace=True)

<h4>The first feature that we are going to add is the date column we will use the values in the day,month,and year columns and combine them in a single column and later we will drop them</h4>

In [77]:
df["DATE"] = df['YEAR'].astype(str) +"-"+ df["MONTH"].astype(str) + "-" + df['DAY'].astype(str)

In [78]:
df['DATE'] = pd.to_datetime(df['DATE'])

<h4>First we will drop unused columns and the columns that has many null values</h4>

In [79]:
df.drop(['DAY','MONTH','YEAR','DAY_OF_WEEK','IATA_CODE_x','TAIL_NUMBER','IATA_CODE_y','IATA_CODE','CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY',
'AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','AIRLINE_y','AIRPORT_x','AIRPORT_y',],axis=1,inplace=True)

<h4>Now we will drop any row that has less than 25 attributes available</h4>

In [81]:
df = df.dropna(thresh=25)

In [83]:
df.shape

(5246291, 31)

In [84]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing

AIRLINE                  0.000000
FLIGHT_NUMBER            0.000000
ORIGIN_AIRPORT           0.000000
DESTINATION_AIRPORT      0.000000
SCHEDULED_DEPARTURE      0.000000
DEPARTURE_TIME           0.000000
DEPARTURE_DELAY          0.000000
TAXI_OUT                 0.000000
WHEELS_OFF               0.000000
SCHEDULED_TIME           0.000000
ELAPSED_TIME             0.288985
AIR_TIME                 0.288985
DISTANCE                 0.000000
WHEELS_ON                0.063264
TAXI_IN                  0.063264
SCHEDULED_ARRIVAL        0.000000
ARRIVAL_TIME             0.063264
ARRIVAL_DELAY            0.288985
DIVERTED                 0.000000
CANCELLED                0.000000
ORIGIN_CITY              0.000000
ORIGIN_STATE             0.000000
ORIGIN_COUNTRY           0.000000
ORIGIN_LATITUDE          0.087090
ORIGIN_LONGITUDE         0.087090
DESTINATION_CITY         0.000000
DESTINATION_STATE        0.000000
DESTINATION_COUNTRY      0.000000
DESTINATION_LATITUDE     0.087338
DESTINATION_LONGITUDE    0.087338
DATE                     0.000000
dtype: float64